data/PayPeriod.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="payPeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="shift" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="day"/>
							<xs:element type="xs:string" name="date"/>
							<xs:element type="xs:string" name="clockIn"/>
							<xs:element type="xs:string" name="clockOut"/>
							<xs:element type="xs:string" name="job"/>
							<xs:element type="xs:byte" name="payRate"/>
							<xs:element type="xs:float" name="totalEarned"/>
						</xs:sequence>
						<xs:attribute type="xs:string" name="location" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
